<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br/>
  <div class="field">
    <%
=begin%>
 <%= form.label :task_name,class:"h6" %> 
<%
=end%>
    <%= form.text_field :task_name,class:"form-control",id:"floatingInput", placeholder:"Task"%>
  </div>

  <div class="field">
    <%
=begin%>
 <%= form.label :detail,class:"h6"  %> 
<%
=end%>
    <%= form.text_field :detail,class:"form-control",placeholder:"Details"%>
  </div>

  <div class="field">
    <%= form.text_field :tag,class:"form-control",placeholder:"Tag"%>
  </div>
<br/>
  <div class="actions">
    <%= form.submit class:"btn" %>
  </div>

<% end %>
